<button class="btn btn-light btn-lg w-100 font-weight-bold" @onclick="OnClickEvent" type="button" disabled="@(IsConnected)">
    <img src="images/metamask-fox.svg" alt="MetaMask" />
    @ButtonTitle
</button>

@code {

}
