<h3>Hi, @User.Name</h3>

<div class="card mt-2">
  <div class="card-header">
    Check your data
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Document: @User.DocumentNumber</li>
      <li class="list-group-item">Email: @User.Email</li>
    <li class="list-group-item">Phone number: @User.PhoneNumber</li>
  </ul>
</div>

@code {
    [Parameter]
    public Models.UserData User { get; set; } = default!;

}
